{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collaboard</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="stylesheet" href="{% static 'navbar_guest.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'landing' %}" class="logo-container" style="text-decoration: none;">
            <div class="logo">C</div>
            <span class="app-name">Collaboard</span>
        </a>
        
        <div class="auth-buttons">
            <a href="{% url 'login' %}" class="btn btn-login">Log In</a>
            <a href="{% url 'register' %}" class="btn btn-signup">Create Account</a>
        </div>
    </nav>
</body>
</html>
