{% load django_browser_reload %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collaboard</title>
    <link rel="stylesheet" href="{% static 'navbar_user.css' %}">
</head>
{% django_browser_reload_script %}
<body>
    <nav class="navbar">
        <a href="{% url 'dashboard' %}" class="logo-container" style="text-decoration: none;">
            <div class="logo">C</div>
            <span class="app-name">Collaboard</span>
        </a>
        
        <div class="auth-buttons">
            <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-login">Logout</button>
            </form>
            <a href="{% url 'account' %}" class="btn btn-signup">My Account</a>
        </div>
    </nav>
</body>
</html> 